
Assignment4/.idea/.idea.Logger/.idea/workspace.xml
Assignment4/Logger.Tests/obj/project.packagespec.json
Assignment4/Logger/obj/project.packagespec.json
Assignment4/.idea/.idea.Logger/.idea/workspace.xml
*.xml
